.idea/
__pycache__/
matmaster.egg-info/
.vscode/

build/**
.env
dpdispatcher.log
dependency*
PKG*
requires.txt
SOURCES.txt
top_level.txt
llm_contents_report.json
/extract_user_question.py
/user_questions.txt
/traces/

/evaluate_threads/evaluate.py
/evaluate_threads/quick_test.py
/evaluate_threads/test_adk_intergration.py

agents/matmaster_agent/.adk/

agents/matmaster_agent/test_mat.evalset.json
evaluate_threads/test_adk_integration.py
tests/